"extends": "airbnb"
"env": {
  "browser": true,
  "jest": true,
}
"rules": {
    "allowShortCircuit": 0,
    "allowTernary": 0,
    "no-unused-expressions": "off",
    "no-mixed-operators": "off",
    "react/require-default-props": ["error", { "functions": "defaultArguments" }],
    "react/function-component-definition": "off"
}
